<div class=general-wrapper>
        <div class="top-image"> 
                <video autoplay muted loop id="myVideo" style="height: 250px; width: 100%; object-fit: fill; margin-bottom: -5px; opacity: 0.5;">
                        <source src="images/MOSHED-2018-9-14-15-0-11.mp4" type="video/mp4">
                </video>
                
        </div>
        <div class="profile-wrapper">
          <div class="profile-pic" >
                <img src= "/photo-storage/profilepic.png" height="320" width="320" >
          </div>
          <div class="info-container">
                <h3 > <small style="font-size: 30px; color: rgb(190, 50, 97)">My profile</small> </h3>
                
  
                <p style="font-size: 15px;">
                    
                    <strong>id</strong>: <%= user._id%><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                    <strong>password</strong>: * * * *<br>
                    <strong>username</strong>: <%= user.profile.username%><br>
                    <strong>country</strong>: <%= user.profile.country %><br>
                    <strong>region</strong>: <%= user.profile.region %><br>
                    <strong>location</strong>: <%= user.profile.address %><br><br>
                    
                    <a href="/profile/form" class="btn btn-default btn-sm" style="padding-left: 35px; padding-right: 35px; font-size: 15px">Edit</a>
                </p>
          </div>
        </div>
        <div class= "nav-wrapper">
                <a style = " padding-left: 20px; padding-right: 20px; margin: 5px; width: 100px" href="/logout" class="btn btn-default btn-sm">Logout</a><br>
                <a style = " padding-left: 20px; padding-right: 20px; margin: 5px; width: 100px"href="/" class="btn btn-default btn-sm">Home</a><br>
                <a style = " padding-left: 20px; padding-right: 20px; margin: 5px; width: 100px"href="/lobby" class="btn btn-default btn-sm">Lobby</a><br>

        </div>
      
      </div>
      <div class="event-wrapper" id="event-wrapper-go">
                <h1>My Calendar</h1><br>
                <div class="detailed" style="display: none;">
                <div id="event-detail-wrapper1"> <%= user.events[0] %> </div>
                <div id="event-detail-wrapper2"> <%= user.events[1] %> </div>
                <div id="event-detail-wrapper3"> <%= user.events[2] %> </div>
                <div id="event-detail-wrapper4"> <%= user.events[3] %> </div>
                <div id="event-detail-wrapper5"> <%= user.events[4] %> </div>
                <div id="event-detail-wrapper6"> <%= user.events[5] %> </div>
                <div id="event-detail-wrapper7"> <%= user.events[6] %> </div>
                <div id="event-detail-wrapper8"> <%= user.events[7] %> </div>
                <div id="event-detail-wrapper9"> <%= user.events[9] %> </div>
                <div id="event-detail-wrapper10"> <%= user.events[10] %> </div>
            
                </div>
               
                
             
            
               <% if (user.events.length == 0) { %>
                  <div class="alert alert-danger"> 
                      You are yet to join an event; Go check some cool events near you 
                      <a href="/lobby" class="btn btn-default btn-sm">Lobby</a> 
                  </div>
               <% } %>
        </div>

