<div class=general-wrapper>
  <div class="top-image"> </div>
  <div class="profile-wrapper">
    <div class="profile-pic"></div>
    <div class="info-container"></div>
  </div>
  <div class="event-wrapper"></div>

</div>

<div class="container">

    <div class="page-header text-center">
        <h1>Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
  
    <div class="row">
  
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <img src= "/photo-storage/profilepic.png" height="320" width="320">
                <h3>Welcome <%= user.profile.username %></h3>
  
                    <p>
                        <strong>username</strong>: <%= user.profile.username%><br>
                        <strong>about</strong>: <%= user.profile.about%><br>
                        <strong>id</strong>: <%= user._id%><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: * * * *<br><br>
                        <strong>country</strong>: <%= user.profile.country %><br>
                        <strong>region</strong>: <%= user.profile.region %><br>
                        <strong>location</strong>: <%= user.profile.address %><br><br>
                        <a href="/profile/form" class="btn btn-default btn-sm">Edit</a>
                    </p>
  
            </div>
        </div>
  
    </div>
  
      <h3>Your Events</h3><br>
      <%= user.profile.events %>
  
     <% if (user.profile.events.length == 0) { %>
        <div class="alert alert-danger"> 
            You are yet to join an event; Go check some cool events near you 
            <a href="/lobby" class="btn btn-default btn-sm">Lobby</a> 
        </div>
     <% } %>
    </div>
  
  </div>
  
  <div>
  